<canvas id="srcImg"></canvas>
<canvas id="clrImg" class="off"></canvas>
<div>
    <form action="/mosaic/new" method="post" name="submit_image">
        <input type="hidden" id="imageFile" value="/image/show?id=<%= @image.id %>"/>
        <p>Height: <input type="text" name="destHeight" id="destHeight" onblur="checkAspect(this)"/></p>
        <p>Width: <input type="text" name="destWidth" id="destWidth" onblur="checkAspect(this)"/></p>
        <p>Lock Aspect Ratio: <input type="checkbox" id="preserveAspect" checked/></p>

        <p>Colour: <select id="colourStyleSelection"><option value="11">Glorious 11 Colour</option><option value="3">Stylish 3 colour Grey Scale</option><option value="2">Avant Garde 2 Colour B&W</option></select></p>
        <p>Enhance White Balance: <input id="whiteBalance" type="range" min="0" max="100" value="15" /></p>
        <p><a href="javascript: render()" class="button next">Render</a><a href="javascript: calculate()" class="button next">Calculate</a></p>


        <p><a href="javascript: document.submit_image.submit()" class="button save">Generate Mosaic</a></p>

        <input type="hidden" id="image_data" name="image_data"/>
    </form>
    Order:
    Instructions £3 (paypal)
    Completed, Framed Mosaic £5000 (paypal)
    (We're not joking, this is a huge undertaking to make even one...)
</div>
<p/>

