<p>brick <a href="#" class="button next">Next</a> <a href="#" class="button previous">Previous</a> <a href="#" class="button next">Reset</a> <a href="#" class="button next">Save</a></p>
<canvas id="srcImg" class="instructor"></canvas>
<p>Buy a shoppin list, of buy your finished, framed, mosaic, direct to your door in our <a href=="/shop">shop</a></p>

